DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DOMAIN=
LETSENCRYPT_EMAIL=
CLOUDFLARED_TOKEN=
ADDITIONAL_ALLOWED_HOSTS=
ADDITIONAL_CSRF_TRUSTED_ORIGINS=

# Optional email settings
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Optional pgAdmin defaults when running with --profile pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
